@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.nav-extra {
    background-image: radial-gradient(#a18be8, #150742);

}

.span-element {
    font-size: 22px;
    color: black;

    font-family: "Palatino";
    font-style: italic;
    font-weight: 600;

}

.size {
    width: 100vw;
    min-height: 48vh;
    background-size: cover;


}

#link1 {
    color: black;
    font-family: "Palatino";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#link2 {
    color: black;
    font-family: "Palatino";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#link3 {
    color: black;
    font-family: "Palatino";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#link4 {
    color: black;
    font-family: "Palatino";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#link5 {
    color: black;
    font-family: "Palatino";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#link6 {
    color: black;
    font-family: "Palatino";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#link7 {
    color: black;
    font-family: "Palatino";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.inside-span {
    font-size: 10px;
    color: #4a075e;
    font-weight: bolder;
    vertical-align: super;

}

.about-container {
    padding-left: 24px;


}

.about-heading {
    color: #150742;
    font-family: "Palatino";
    font-weight: bolder;
    font-style: italic;
    font-size: 45px;

}

.about-subheading {
    color: #150742;
    font-family: "Palatino";
    font-weight: bolder;
    font-style: italic;
    font-size: 29px;

}

.about-paragraph {
    font-family: "Palatino";
    color: #a18be8;
    font-size: 19px;
    font-style: italic;

}

hr {
    width: 100%;
    size: 20;
    color: #a18be8;
}

ul {
    color: #150742;
    list-style-type: square;

}

li {
    font-family: "Palatino";
    color: #150742;
    font-size: 19px;
    font-style: italic;
    font-weight: bolder;

}

.span-element1 {
    font-family: "Bree Serif";
    color: #e6e3e8;
    font-size: 16px;


}

.ulist {
    list-style-type: circle;
}

.list-element {
    font-family: "Palatino";
    color: #a18be8;
    font-size: 19px;
    font-style: italic;

}

.card-team {
    width: 100%;
    min-height: 300px;
}

.team-image {
    padding-top: 20px;
    padding-left: 20px;
    height: 100px;
    width: 140px;
}

.bg-containerc {
    background-color: #f5f7fa;
    padding: 20px;
}

.headc {
    color: #183b56;
    font-size: 30px;
    font-weight: bold;
}

.btc {
    width: 150px;
    height: 40px;
    border-color: #ff9f00;
    color: #ff9f00;
    border-width: 2px;
    border-style: solid;
}

.bgf {
    background-color: #150742;
}

.im {
    height: 45px;
    width: 130px;
}

.cardf {
    padding-left: 40px;
    height: 46px;
    width: 46px;
    background-color: #a18be8;
    border-radius: 40px;
}

.paf {
    color: #5a7184;
}

.headingf {
    font-size: 20px;
    font-weight: bold;
    color: #5a7184;
}

.ulf {
    color: #5a7184;
    text-align: left;
}

.hrf {
    background-color: #5a7184;

}

.bgcontainercontact {
    background-color: #150742;
    min-height: 100vh;
    padding: 15px;
}



.top-container-contact {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-dynamic-webapps/subscribe-to-us-img.png");
    background-size: cover;

}

.bottom-container {
    height: 60vh;
    background-color: white;
}

.i1 {
    color: grey;
    font-weight: 500;
}

.paragraph-contact {
    color: red;
}

let subscribe = document.getElementById("subscribeForm")
let inputEle1 = document.getElementById("name")
let inputEle2 = document.getElementById("email")
let paraEl = document.getElementById("nameErrMsg")
let paraEl2 = document.getElementById("emailErrMsg")
let subscribeButton = document.getElementById("subscribeBtn")


subscribe.addEventListener("submit", function(event) {
    event.preventDefault();

});

inputEle1.addEventListener("blur", function(event) {
    if (event.target.value === "") {
        paraEl.textContent = "Required*"
    } else {
        paraEl.textContent = ""
    }
})


inputEle2.addEventListener("blur", function(event) {
    if (event.target.value === "") {
        paraEl2.textContent = "Required*"
    } else {
        paraEl2.textContent = ""
    }
})


let btn = document.getElementById("subscribeBtn")
btn.onclick = function() {
    if (inputEle1.value === "" && inputEle1.value === "") {
        paraEl.textContent = "Required*"
        paraEl2.textContent = "Required*"
    }
}

let navlinks = document.querySelectorAll("header nav a");

function smoothScroll(event) {



    const href = this.getAttribute("href");


    document.querySelector(href).scrollIntoView({

        behavior: "smooth"

    });
    event.preventDefault();
}
for (const link of navlinks) {

    link.addEventListener("click", smoothScroll());

}
